@charset "utf-8";

/* 웹폰트 : orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color:inherit;}
body {background: #efefef;  font-family: "Orbitron", serif;}

/* header */
header {
  position: fixed;
  top: 0; left: 0;
  width: 400px;
  height: 100%;
  background: linear-gradient(45deg, #A594F9, #FFB0B0);
}
header h1 {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-150%);
  font: bold 44px/1 'Josefin Sans';
  color: #664343;
}
header h1::before {
  content: 'CAKE / COFFEE';
  display: block;
  font: 20px/1 'Josefin Sans';
  letter-spacing: 2px;
  position: absolute;
  left: 0; top: 140px;
  opacity: 0.8; color:#332;
}
header h1::after {
  content: '';
  display: block;
  width: 180px;
  height: 2px;
  background: #fff;
  margin-top: 20px;
}
header ul {
  position: absolute;
  left: 40px;
  bottom: 100px;
}
header ul li {
  float:left;
  margin-right: 10px;
}
header ul li a {
  font: 20px arial;
  color: #fff;
}
header ul li a span {
  display: inline-block;
  font-weight: bold;
  opacity: 0.7;
  transform: scale(.7) translateX(-10px);
}

/* main */
main {
  margin-left: 400px;
  padding: 20px;
  box-sizing: border-box;
}
main ul {
  width: 100%; 
  margin: 0 20px 10px 0;
}
main ul::after {
  content:'';
  display: block;
  clear: both;
}
main ul li {float: right; width: 100px; height: 26px; margin-right: 20px;}
main ul li a {
  display: block; width: 100%; height: 100%; 
  font: bold 10px/26px 'Josefin Sans'; 
  color: #aaa;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  background-color: #fff;
  text-transform: uppercase;
}
main ul li.on a {
  background: linear-gradient(45deg, #A594F9, #FFB0B0);
  box-shadow: 0 5px 20px #EBD3F8;
  color: #fff;
}

main section {
  width: 100%;
}
main section::after {
  content: '';
  display: block;
  clear: both;
}
main section article {
  float: left;
  width: 20%;
  padding: 12px;
  box-sizing: border-box;
}
main section article div {
  width: 100%;
  height: 100%;
  padding: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0,0,0,.1);
}
main section article div img {width: 100%;}
main section article div h2 {
  margin: 15px 0 5px 0;
  font: bold 14px/1 'Josefin Sans';
  letter-spacing: 1px;
  color: #444;
}
main section article div p {
  margin-bottom: 15px;
  font: 12px/1.2 'arial';
  color: #777;
}

/* 브라우저 폭 : 1600px 미만 */
@media screen and (max-width:1599px) {
  header {width: 350px;}
  main {margin-left: 350px;}
  main section article {width:25%;}
}

/* 브라우저 폭 : 1200px 미만  */
@media screen and (max-width:1199px) {
  header {position: relative; width: 100%; height: 80px;}
  header h1 {transform: translateY(-50%); font: bold 24px/1 'orbitron';}
  header h1::before, header h1::after {display: none;}
  header ul {bottom: 25px; left: 83%;}
  header ul li {margin-right: 20px;}
  header ul li a {}
  header ul li a span {display: none;}
  main {width:100%; margin-left: 0;}
}

/* 브라우저 폭 : 900px 미만  */
@media screen and (max-width:899px){
  header ul {left: 80%;}
  main section article {width: calc(100%/3);}
}


/* 브라우저 폭 : 680px 미만  */
@media screen and (max-width:679px) {
  header ul {left: 70%;}
  main section article {width: 50%;}
}

/* 브라우저 폭 : 540px 미만  */
@media screen and (max-width:539px) {
  header ul {display: none;}
  main ul {
    margin-right: 0;
    padding: 0 13px;
    box-sizing: border-box;
  }
  main ul li {
    width: 32%;
    margin-right: 2%;
  }
  main ul li:nth-of-type(1){
    margin-right: 0;
  } 
  main section article {width: 100%;}
}